.shader-animation-container {
    width: 100%;
    height: 100vh;
    background: #000;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.shader-animation-container canvas {
    display: block;
    width: 100%;
    height: 100%;
}